*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: #F2F2F2;
}

body{
    background-color: #2D2D2D;
}

header{
    font-family: 'Syne Mono', monospace;
}

header div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.nav{
    background-color: #393939;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.subnav{
    background-color: #524B38;
    font-size: 1.5em;
    color: #9FA6AD;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.subnav a:link{
    color: #9FA6AD;
}
.subnav a:visited{
    color: #697075;
}

.retrato{
    max-width: 200px;
    height: auto;
}

.titulo{
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo *{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.figuras{
    display: flex;
    margin-left: 15vw;
    margin-right: 15vw;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.card{
    margin: 1vh 1vw 1vh 1vw;
    padding: 1vh 1vw 1vh 1vw;
    width: fit-content;
    background-color: #1B1B1B;

}

.card div{
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card .nombre{
    font-size: 1.5em;
    font-family: 'Syne Mono', monospace;
}

