h1{
    color: red;
}

label{
    font-size: 20px;
    color: orange;
}

#i_correo
{
    color:red;
}

/*Aprender Teoría de Color para que tenga estilo e identidad de color,
Monocromatico, Analogico, Combinacional, etc; saturación y brillo*/